#header{

    padding: 2em;
    background-color: #99AF99;
    text-align: left;
    width: 100vw;
    margin-left: 0;
    box-sizing: border-box;
}
/* 
#title{
    /* font-size: 3em; 
} */

#search-bar{
    font-family: 'Dancing Script', cursive;
    padding: 1.5em 0.5em;
    text-align: left;
    font-size: medium;
    border: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    color: black;
}

.search-container {
  display: block;
}

